@import play.i18n._

@main(title="Descripción: COTEAM") {
    <div class="callout large">
        <h1>Descripción</h1>
        <p>          
El corpus se constituye a partir de ediciones fiables y científicas de consulta libre, con lo que la información resultante permite complementar el panorama ofrecido por otros corpus textuales del español, tanto en sus aspectos léxicos como gramaticales, con los datos que se pueden extraer sobre el uso y la vigencia de las voces empleadas en esta peculiar parcela de las letras hispánicas.
        </p>
        <br>
        <p>
Se propone, inicialmente, un corpus de seis textos representativos de la producción aljamiado-morisca, correspondientes a otros tantos manuscritos. Dichos manuscritos contienen diferentes tipos de textos (tanto en lo gráfico como en lo lingüístico –fonético, gramatical y léxico–, literario y cultural) y cubren todo el arco cronológico de la producción escrita de mudéjares y moriscos, pues comprende obras representativas de la época de plena producción de textos aljamiados en caracteres árabes, es decir, el siglo XVI (las señaladas como a y b), obras de la última época de producción literaria de los moriscos en la Península, ahora en caracteres latinos (c y d), así como obras escritas fuera de la Península antes y después de la expulsión de los moriscos (e y f).
        </p>
        <p>
<ol type="a" class="description"> El corpus textual estará formado por:
  <li>Ms. 5313 de la Biblioteca Nacional de España.</li>
  <li>Ms. 4871 de la Biblioteca Nacional de España (Kitāb de Çamarqandī).</li>
  <li>Ms. 235 de la Biblioteca Pública del Estado en Toledo (Corán de Toledo).</li>
  <li>Ms. 397 Esp. de la Bibliothèque nationale de France (Compendio islámico de Mohanmad de Vera).</li>
  <li>Ms S 5 de la Real Academia de la Historia (Hundidor de çismas y erejías).</li>
  <li>Ms. S 2 de la Biblioteca de la Real Academia de la Historia (Tratado de los dos caminos).</li>    
</ol>            
        </p>
        <p>
A este conjunto inicial, se incorporarán otros textos aljamiado-moriscos, proporcionados por los investigadores que los hayan editado. 
        </p>
<ol type="1" class="description"> Actualmente, fruto de esta aportación, se incluyen en el COTEAM las siguientes obras:
  <li>Ms. 614 de la Biblioteca Nacional de Argelia (Tratado admonitivo de Argel).</li>
</ol>           

<ol type="1" class="description"> De próxima incorporación serán los textos siguientes:
  <li>Ms. 1944 de la Biblioteca Nacional de Argelia (Historia de la donzella Arcayona).</li>
  <li>Ms. L771-4 del Fondo Documental Histórico de las Cortes de Aragón (La peregrinación de ‘Omar Paṭōn).</li>
  <li>Ms. II de las Escuelas Pías de Zaragoza (La peregrinación de ‘Omar Paṭōn).</li>
</ol>
        
    </div>
}
