@import play.i18n._

@main(title="Presentación: COTEAM") {
    <div class="callout large">
        <h1>Presentación</h1>
        <p>
            El Corpus de Textos Aljamiado-Moriscos (COTEAM) es uno de los resultado del proyecto Lexicografía aljamiada: nuevos horizontes y herramientas (FFI2014-56120-P), financiado por el Ministerio de Economía y Competitividad, que se desarrolló en el Seminario de Estudios Árabo-Románicos (SEAR) de la Universidad de Oviedo, entre el 1 de enero de 2015 y el 31 de diciembre de 2017. Dirigido por Juan Carlos Busto Cortina, el equipo investigador estuvo formado por Juan Carlos Villaverde Amieva, Francisco José Hidalgo López, Pablo Roza Candás, Raquel Montero, Mirjami Matilainen, Mario Baragaño García, Mohanad Amer Kadhim y Raquel Suárez García.
        </p>
        <p>
            COTEAM es una aplicación que permite el acceso a un corpus de textos aljamiado-moriscos (vid. <a href="http://coteam.herokuapp.com/descripcion">Descripción</a>), de los que pueden consultarse las voces individualizadas que los integran, en su contexto.
        </p>
        <p>
            Desde el punto de vista técnico, el objetivo final de este proyecto consiste en publicar la información como datos abiertos, estructurados y enlazados, siguiendo las recomendaciones de la web semántica. Así, la información de las obras incluidas en esta aplicación se ofrece en formato RDF, para cuya modelización se ha definido un vocabulario específico (<a href="http://purl.org/coteam">coteam</a>), adaptando otras ontologías existentes.
        </p>
        <p>
            Se ha buscado una solución que proporcione la mayor accesibilidad y una óptima reutilización de los datos, con un diseño basado en el paradigma linked opendata, que permite que cada elemento de información puesto a disposición (las palabras) pueda ser referenciado en la web a través de URIs.
        </p>
        <p>
            Desarrollado en un marco de colaboración transversal, COTEAM surge del aprovechamiento del proyecto fin de carrera Francisco Hidalgo López, así como de la adaptación, realizada por Jorge Yagüe París, del software para la visualización de los datos RDF, desarrollado por el grupo de investigación WESO de la Universidad de Oviedo (www.weso.es).
        </p>
    </div>
}
